body {
    background: #fff url("#{resource['image/bg-top.png']}") 0 0 repeat-x;
}
.ui-layout-pane-west, .ui-layout-pane-north, .ui-layout-unit-content {
    border: inherit;
    background: inherit;
}
.pageDetails {
    font-size: 14px !important;
}
.pageLink {
    color: blue !important;
}
.ui-menuitem-link {
    font-size: 12px !important;
    line-height: 12px !important;
}
.ui-widget-header {
    font-size: 14px !important;
    line-height: 14px !important;
}
.ui-widget .search-button {
    width: 100%;
    font-size: 14px;
}